
html, body
  background-color: #dfdddd
  width: 100%;
  margin : 0px
/******************** footer rule************************************/
footer
  position: relative
  background-color: #0d47a1 
.page-footer
   background-color: #26a69a 

.collection 
  
/******************** sources rule************************************/

.sources.card-panel
  width: 40%;

#sources
  margin-left: 15px

/******************** Nav rule************************************/
  
nav
  width: 100%
  background-color:#26a69a 
.row .col.m7 
    width: 18.3333333333%
    margin-left: auto
    left: auto
    right: auto
    height: 80px
    text-align: center
    padding: 6px 10px

/******************** Login Page rule************************************/


#loging-box
  width: 40%
  background-color: pink;
  min-height :
  margin-left: 25%
  margin-top: 15%
  padding-left: 8%


.section__hero 
  min-height: 500px
  padding-top: 5%
  padding-bottom: 5%
  position: relative
  background-color:#80cbc4
  .section__hero h3 
    color: 2d2d2d
  .section__hero h5 
    line-height: 2.3rem
  .section__hero h5 span 
    border-bottom: 2px solid white
  .section__hero h1 
    font-weight: bold
    font-size: 4.2rem
    line-height: 1.10
    color: #393939
  .section__hero .btn 
    width: 20rem
    margin-top: 1.5rem
  .section__hero .gorilla 
    display: inline-block
    height: 330px
    background-image: url("/src/img/pic1.jpg")
    background-size: contain
    background-repeat: no-repeat
    background-position: center center
  .section__hero .btn__main-cta 
    height: 3rem
