
html, body
  background-color: #dfdddd
  width: 100%;
  margin : 0px

footer
  position: relative


.collection 
  

.sources.card-panel
  width: 40%;
nav
  width: 100%
.row .col.m7 
    width: 18.3333333333%
    margin-left: auto
    left: auto
    right: auto
    height: 80px
    text-align: center
    padding: 6px 10px

#sources
  margin-left: 15px

#loging-box
  width: 40%
  background-color: pink;
  min-height :
  margin-left: 25%
  margin-top: 15%
  padding-left: 8%

